
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
}
body{
background-color: #110F0F ;
}
header div span{
    display:table;
   color:white;
   position:absolute;
   margin-left:675px;
   margin-top:150px;
   border:3px solid white;
   padding:10px;
font-size:22px;
}
header{
 height:400px;
background-image: url('city.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
table{
    table-layout: fixed;
    width:600px;
margin-left: auto;
margin-right: auto;
margin-top:150px;

}
table td{
color:#C56F5D;
}
table tr td{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding:10px;
}
table tr td p{
color:white;
font-size:12px;
}
 h3{
     margin-top:100px;
text-align:center;
color:white;
}
.text-box{
    background:#423937;
border:none;
height:20px;
padding:12px;
opacity:0.9;
}
form{
margin-top:50px;
margin-bottom:50px;
}
input{
width:50%;
margin-left:350px;
opacity:0.9;
margin-bottom:20px;
}
form textarea{
    width:50%;
    margin-left:350px;
height:150px;
background:#423937;
border:none;
padding:12px;
opacity:0.9;
}
input[type=submit]{
width:10%;
margin-left:685px;
background-color:#BE5E4A  ;
}
#perconnect{
    font-family:'Lobster',cursive;
    font-size:22px;
    color:#C56F5D;
    text-align: center;
}
div i{
    margin-top:20px;
font-size:30px;
color:#C56F5D;
padding:10px;
}
.divalign{
text-align:center;
}
table tr td adress{
    color:white;
    font-size:12px;
}
