.first {
    background-color: rgb(228, 228, 228);
    height: 650px;
    width:1300px;
    float: right;
}
.tekst 
{
    padding-right: 100px;
}

p.tekst {
    position: fixed;
    top:250px;
    right:570px;
z-index: 4;
    font-size: 20px;
    font-weight: 100;
}

h1.teksti {
    position: fixed;
    top:170px;
    right:700px;
z-index: 4;
}
