.first {
    background-color: rgb(228, 228, 228);
    height: 650px;
    width:1300px;
    float: right;
    display: flex;
}
.tekst 
{
    padding-right: 100px;
}

p.tekst {
    position: fixed;
    top:270px;
    right:640px;

}

h1.teksti {
    position: fixed;
    top:170px;
    right:700px;

}
  
.footerii {
    width: 100%;
    height: 250px;
    background-image: url('fotofooter.jpg');
    background-size: 100% 100%;
    border: 2px solid grey;
    filter: opacity(0.7) blur(90%) grayscale(80%);
    color:white;
    text-align:center;
    font-family: inherit;
    white-space: pre-wrap;
    padding-top:50px;
    font-size:30px;
    box-shadow: 0 0 10px 7px grey,
    0 0 10px 20px black ;
    }
   
    .divi3{
      float:left;
      text-align:center;
      white-space: pre-wrap;
      padding-top:0;
    
    
    }
    .divi2{
      float:left;
      text-align:center;
      margin-top:21px;
      

    }

    .divi1{
      float:right;
      text-align:center;
      padding:20px

    }
    .divi4
   {
     width:100%;
     height:100px;
     font-size:30px;
     font-family:inherit ;
     text-align:center;
     background-color:rgba(0, 0, 0, 0.342);
     outline:3px solid rgba(0, 0, 0, 0.753);
    
   }
     .left{
      float:left;
      text-align:center;
      color:rgba(255, 255, 255, 0.733);
      font-size:20px;
     } 
     .right{
      float:right;
      text-align:center;
      color:#737373;
      font-size:20px;
     
     } 
       
  .container{
    display:grid;
    grid-template-columns: 30fr 30fr 37fr;
    grid-auto-rows: 400px;
    grid-gap:20px;
    grid-auto-flow:dense;
    outline:3px solid grey;
    justify-content: center;
   
  }
    
    
    
    h6.explorer{
      font-size:30px;
      font-family:inherit ;
      font-weight:200;
      color:black;
      text-shadow:3px 3px rgba(16, 233, 132, 0.411);
     
    }
    h1.contact{
      font-size:30px;
      font-family:inherit ;
      color:black;
      text-shadow:3px 3px rgba(16, 233, 132, 0.411);
     
     
    }
    .footer-links li
   {
  display:block
    }
.footer-links a
{
  color:#737373;
  text-decoration: none;
  font-size:20px;
 
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer ,.social-icons
{
  text-align:center
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:24px;
  display:inline-block;
  line-height:44px;
  widows: 44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons
{
  text-align:center
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
}
.social-icons a.snapchat:hover
{
  background: #fffc00;
  
}
.social-icons a.instagram:hover
{
  background-color:red;
}