*{
    margin:0;
    padding:0;
    font-family:'Rajdhani';
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background-image: none;
}

.div1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px rgb(49, 49, 49);
    width: 25%;
    text-align: center;
    font-size: 40px;
}

.div2 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    text-decoration: none;
}

a {
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-image: none;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(49, 49, 49);
}

.perimg {
    height: 100px;
    width: auto;
}

div ul li {
    list-style: none;
    position: relative;
}

div ul li ul {
    display: none;
    position: absolute;
    background-color: transparent;
    border-radius: 0px 0px 4px 4px;
    /* border: 2px solid darkgray; */
}

div ul li:hover ul {
    display: block;
}

div ul li ul li {
    padding-top: 14px;
}
section
{
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient(180deg,#3a3a3a,#BEBEBE,#e4e1e1), url(images/kosovo1.png);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: 100%;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

:root {
  --level-1:translateZ(3rem);
  --level-2:translateZ(6rem);
  --level-3:translateZ(9rem);

  --fw-normal:400;
  --fw-bold:700;

  --clr:#e7d1b5;;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Rajdhani', sans-serif;
}
.karta {
  width: 400px;    
  z-index: 1000;
}
.permbajtja_para {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s; /* tregon per sa sekonda bohet rotate */
  transform-style:preserve-3d;
  }
.karta:hover .permbajtja_para {
transform: rotateY(0.5turn);
/* po bohet rotate ne boshtin y */
}


.fronti, .backi {
position: absolute; /* they need to be on top of each other for this effect to work */
top:0;
bottom: 0;
left: 0;
right: 0;
padding:5em 3em;
backface-visibility: hidden; /* nuk e len tekstin para edhe mrapa mu overlap, edhe backgroundit vyn mja ndrru ngjyren */
transform-style:preserve-3d;
display: grid;
align-content: center;
}
.fronti {
  background-color:#e7d1b5;
  background-image: url(images/card.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  color:#333;
}
.fronti::before {
  content:'';
  position: absolute;
  top:1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  border:3px solid currentColor;
  transform:var(--level-1);
}
.titulli {
 /* transform:translateX(100px); nboshtin X leviz per 100px */
 font-size: 3.5rem;
 transform:var(--level-3); /* z axis points it toward us ama when it 
                                 get closer is doesnt get bigger veq kur t'rotate ka dallim
                                 and the reason why this is working osht per shkak te preserve-3d qe e kem ma nalt*/
  order:2; /* titullin e qet tdytin dmth mas tekstit */
  text-transform: uppercase;
  
}

.subtitle {
  /* transform:translateZ(2rem); */
  transform:var(--level-2);
  text-transform: uppercase;
  letter-spacing:4px ;
  font-size:0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}
.permbajtja_prapa{
  /* transform:translateZ(2rem); */
  transform:var(--level-2);
  font-weight:var(fw--normal);
  font-size:1.5rem;
  line-height: 1.6;
}

.backi {
  transform:rotateY(0.5turn); /* tash shkronjat dalin normal jo mrapsht */
  color: var(--clr);
  background: #333; 
}