* {
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background-image: none;
}

.div1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px violet;
    width: 25%;
    text-align: center;
    font-size: 26px;
}

.div2 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    text-decoration: none;
}

a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: none;
}

.perimg {
    height: 100px;
    width: auto;
}

div ul li {
    list-style: none;
    position: relative;
}

div ul li ul {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 0px 0px 4px 4px;
    border: 2px solid darkgray;
}

div ul li:hover ul {
    display: block;
}

div ul li ul li {
    padding-top: 14px;
}

body {
    margin: 0;
    /* padding: 0; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: #23E3C9; */
}

.slider {
    width: 100%;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.slide h1 {
    color: white;
    text-shadow: 0px 0px 20px black;
    position: absolute;
    width: 100%;
    margin-top: -266px;
    display: flex;
    justify-content: center;
}

.slide p {
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 20px black;
    position: absolute;
    width: 100%;
    margin-top: -230px;
    display: flex;
    justify-content: center;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    opacity: 0.5;
    border: 2px solid #ffffff;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.navigation-manual:hover label.manual-btn {
    opacity: 1;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background: #ffffff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 475px;
}

.navigation-auto div {
    opacity: 0.5;
    border: 2px solid #ffffff;
    padding: 3px;
    border-radius: 5px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #ffffff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #ffffff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #ffffff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #ffffff;
}