* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: none;
    background-color: transparent;
}

.div1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px violet;
    width: 25%;
    text-align: center;
    font-size: 26px;
}

.div2 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    text-decoration: none;
}

a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: none;
}

.perimg {
    height: 100px;
    width: auto;
}

div ul li {
    list-style: none;
    position: relative;
}

div ul li ul {
    display: none;
    position: absolute;
}

div ul li:hover ul {
    display: block;
    background-image: none;
    background-color: transparent;
}

div ul li ul li {
    padding-top: 14px;
}