
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* background-color: rgb(214, 214, 214); */
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: red;
}

.section1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
    /* margin-top: -80px; */
}


.section3 {
    height: 1000px;
    background: #ebebeb;
    margin-top: 5px;
}

/* .container div {
    background-image: url("ProductsImages/1.jpg");
    height: 400px;
    width: 100%;
  } */

#seksioni-produktet {
    margin-right: 0;
    margin-left: 150px;
    display: flex;
    flex-basis: 70%, 30%;
}

.category {
    padding: 5px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

#art-h1 {
    margin-top: 30px;
}

#Art {
    margin-top: 100px;
    /* border:1px red dashed; */
}

body {
    position: relative;
}

#yourCart {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    right: 75px;
    top: 100px;
    width: 250px;
    height: 550px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(116, 114, 114, 0.5);
}

#bottom {
  position: absolute;
  bottom: 20px;
}

#scrollable {
  overflow-y: auto;
  max-height: 380px;
}

#yourCart h2 {
  padding: 8px;
  color: rgb(206, 23, 69);
}

#checkout {
    width: 100px;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 17px;
    background-color: rgb(218, 201, 50);
}

#checkout:hover {
    background-color: rgb(170, 156, 33);
    transition: 1s;
}

.container {
    border-collapse: collapse;
    width: 100%;
}

.container tr {
    border-bottom: 1px solid black;
}

.container th {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    border-top: 2px solid rgb(206, 23, 69);
    border-bottom: 2px solid rgb(206, 23, 69);
    padding: 7px;
    padding-right: 70px;
}

.container tr th:last-child {
    padding-right: 40px;
}

.container tr td:first-child {
    font-weight: bold;
}

.container td {
    font-size: 17px;
    padding: 5px;
    padding-right: 70px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
}

.container tr a:hover td {
    color: rgb(170, 156, 33);
    transition: 0.5s;
}

.container tr button {
    margin: 3px;
    border: 0px;
    width: 25px;
    border-radius: 15px;
    padding: 5px;
    color: white;
    font-size: 13px;
    background-color: rgb(206, 23, 69);
}

.container tr button:hover {
    background-color: rgb(148, 16, 49);
    transition: 0.5s ease-in-out;
}

html {
    background-image: url(wood.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-origin: border-box;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#icons {
    float: right;
    margin-top: 70px;
}

.fas {
    font-size: 17px;
}

.fa-th {
    color: rgba(218, 206, 206, 0.788);
}

.fa-list {
    color: rgba(161, 148, 148, 0.644);
}

.fa-th:hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

#cartList button {
    color: rgb(194, 194, 194);
    border: 0px;
    padding: 5px;
    padding-left: 0px;
    margin-right: 5px;
    background-color: transparent;
}

#cartList button:hover {
    color: rgb(185, 31, 31);
    transition: 0.5s;
}

dl dd {
  text-align: right;
}

dl dt {
  display: inline;
}

dl dd.inline {
  float: right;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .product{
    border:1px red dashed;
  }
  .product-header{
    border:1px black solid;
  } */

/* .product-header{
    border:1px black solid;
  } */

/* .product {
    border-radius: 10px;
  } */